/* Variables */
/* General style */
html {
  display: flex;
  justify-content: center;
}
html body {
  width: 1200px;
  margin: 0;
}
html body div,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body p,
html body a,
html body li {
  font-family: raleway, sans-serif;
  color: #333333;
}
html body a {
  color: #294056;
}
/* Github corner icon */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  fill: #343434;
  color: white;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
/* Header style */
header {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  border-bottom: 2px solid #586c7f;
}
header > div:first-child {
  display: flex;
}
header > div:first-child #logo img {
  width: 150px;
  padding: 20px;
}
header > div:first-child #preamble {
  padding: 20px 30px;
  max-width: 400px;
}
header > div:first-child #preamble h1 {
  color: #294056;
}
header #strengths {
  display: flex;
  align-items: center;
  padding: 20px;
}
header #strengths ul {
  list-style: none;
  padding-left: 0;
}
header #strengths ul li {
  margin-bottom: 6px;
}
header #strengths ul li span {
  color: darkolivegreen;
  font-size: 20px;
  margin-right: 5px;
}
/* Code examples' style */
#examples {
  padding: 40px 20px;
}
#examples .code {
  margin: 0;
  font-size: 14px;
  padding-bottom: 20px;
}
#examples ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
#examples ul li {
  margin: 10px 0;
}
#examples ul li > div:first-child {
  width: 80px;
  height: 10px;
  background-color: #b39b5c;
}
#examples ul li > div:nth-child(2) {
  margin-top: 4px;
  width: 150px;
  height: 8px;
  background-color: #c4b796;
}
#examples > div {
  display: flex;
  margin: 20px 0;
}
#examples > div > div {
  flex: 1;
}
#examples .play-button {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 60px;
  padding: 0 25px;
  user-select: none;
  color: #586c7f;
}
#examples .play-button:active {
  top: 1px;
  left: 1px;
}
#examples .animation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  margin-right: 20px;
  min-width: 500px;
  min-height: 300px;
}
#examples .animation > div {
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0.7;
}
#examples .animation > div.screen {
  width: 150px;
  height: 235px;
  border: 1px solid lightgray;
  padding: 10px;
  opacity: 1;
}
#examples .animation #text-animation {
  width: 300px;
  height: 170px;
  font-size: 19px;
  text-align: left;
}
#examples .animation #focus-animation {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 150px;
}
#examples .animation #focus-animation > img {
  margin: 5px;
  width: 90px;
  height: 65px;
}
#examples .animation #button-animation {
  font-size: 40px;
  color: darkred;
  text-align: center;
}
#examples .animation #loading-animation {
  display: flex;
  width: auto;
}
#examples .animation #loading-animation > div {
  background-color: olivedrab;
  width: 10px;
  height: 30px;
  margin: 0 3px;
}
#examples .animation #drawer-animation {
  position: relative;
}
#examples .animation #drawer-animation .sidenav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #535353;
  overflow-x: hidden;
}
#examples .animation #drawer-animation .sidenav li {
  padding-left: 10px;
}
#examples .animation #drawer-animation .sidenav li > div:first-child {
  width: 50px;
  background-color: #bfb08d;
}
#examples .animation #drawer-animation .sidenav li > div:nth-child(2) {
  margin-top: 4px;
  width: 100px;
  background-color: #d0c9b6;
}
/* Footer style */
footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-top: 2px solid #586c7f;
}
