/* General style */

html {
    display: flex;
    justify-content: center;
}

body {
    width: 1200px;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, a, ul > li {
    font-family: raleway, sans-serif;
    color: var(--text-color);
}

a {
    color: var(--primary-color);
}

/* CSS variables */

:root {
    --primary-color: #294056;
    --secondary-color: #586c7f;
    --tertiary-color: #dcd5c7;
    --border-color: lightgray;
    --text-color: #333333;
}

/* Github corner icon */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.github-corner svg {
    fill: #343434;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/* Header style */

header {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    border-bottom: 2px solid var(--secondary-color);
}

header > div:first-child {
    display: flex;
}

header #logo img {
    width: 150px;
    padding: 20px;
}

header #description {
    padding: 20px 30px;
    max-width: 400px;
}

header #description h1 {
    color: var(--primary-color);
}

header #strengths {
    display: flex;
    align-items: center;
    padding: 20px;
}

header #strengths ul {
    list-style: none;
    padding-left: 0;
}

header #strengths ul li {
    margin-bottom: 6px;
}

header #strengths span {
    color: darkolivegreen;
    font-size: 20px;
    margin-right: 5px;
}

/* Feature box style */

#features {
    padding: 40px 20px;
}

#features > div {
    display: flex;
    margin: 20px 0;
}

#features > div > div {
    flex: 1;
}

#features .animation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    margin-right: 20px;
    min-width: 500px;
    min-height: 300px;
}

#features .animation > div {
    position: relative;
    width: 50px;
    height: 50px;
    opacity: .7;
}

#features .animation > div.circle {
    border-radius: 100%;
}

#features .play-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 60px;
    padding: 0 25px;
    user-select: none;
    color: var(--secondary-color);
}

#features .play-button:active {
    top: 1px;
    left: 1px;
}

#features .description {
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
}

#features .code {
    margin: 0;
    font-size: 14px;
    padding-bottom: 20px;
}

/* Footer style */

footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-top: 2px solid var(--secondary-color);
}
